<div id="page">
  <div id="logo">
        <p id="logo">Max's Guitars</p>
  </div>
  <ul id="navigation">
    <li><a href="/" class="on">Home</a></li>
    <li><a href="/instruments" class="on">Collection</a></li>
    <li><a href="/wanted" class="on">Wanted</a></li>
    <li><a href="/for-sale" class="on">For Sale</a></li>
  </ul>
  <p>
    <%= image_tag("dutchburst copy.jpg")  %>
  </p>
  <p>
    This page is dedicated to managing my guitar collection.
  </p>
</div>